
@font-face {
    font-family: Halloween;
    src: url("../img/halloween.otf");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}

.tableau {
    width: 100%;
    height: 100%;
    display: flex; /* Divise la page en 2 zones égales */
}

.gauche {
    width: 50%; /* Partie gauche */
    height: 100%;
    background-color: #ffffff; /* Facultatif, juste pour l'exemple */
}

.droite {
    width: 50%; /* Partie droite */
    height: 100%;
    background-color: #ffffff; /* Facultatif, juste pour l'exemple */
    padding: 20px;
}

.icone {
    background-color: green; /* Zone verte pour l'image */
    padding: 10px;
    text-align: center;
}

.titre {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.histoire {
    font-size: 16px;
    line-height: 1.6
}
